<h3>Edit Server</h3>
<div *ngIf="!allowEdit; else template" class="alert alert-info">You're not allowed to edit!</div>
<ng-template #template class="form">
    <div class="form-group">
        <label for="serverName">Server Name</label>
        <input type="text" 
            placeholder="Server Name" 
            name="serverName" class="form-control"
            [(ngModel)]="serverName">
    </div>
    <div class="form-group">
        <label for="serverStatus">Server Status</label>
        <select placeholder="Online" name="serverStatus" class="form-control"
            [(ngModel)]="serverStatus">
            <option value="Online" selected>Online</option>    
            <option value="Offline">Offline</option>    
        </select>
    </div>
    <div class="form-group" style="display:flex;gap:16px">
        <button class="btn btn-primary" (click)="onUpdateServer()">Save</button>
        <button class="btn btn-default">Cancel</button>
    </div>
</ng-template>