<div class="container">
    <h1>My Server</h1>
    <hr>
    <div class="row form-group">
        <div class="col-md-8">
            <input type="text" class="form-control" 
            (keyup.enter)="onAddServerButtonClick()"
            [(ngModel)]="serverName"
            placeholder="Server Name">
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" 
            [disabled]="serverName.length<1"
            (click)="onAddServerButtonClick()">Add Server</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">Please enter your server name!!!</div>
        </div>
    </div>
    <div class="list-group">
        <div *ngFor="let server of servers; let i = index" 
        class="list-group-item clearfix">
            {{server.id}}. {{server.name}} - {{server.date}}
            <button class="pull-right text-danger btn btn-danger"
            (click)="onDeleteServerClick(i)"
                style="cursor: pointer;">&times;</button>
        </div>
    </div>
</div>