<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h1>Form Example</h1>
      <form 
        (ngSubmit)="onSubmit()" 
        #f="ngForm"
      >
        <div id="ng-group" 
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input ngModel 
              name="username" 
              required
              type="text" 
              id="username" 
              class="form-control"
            />
          </div>
          <button 
            type="button" 
            class="btn btn-default"
            (click)="suggestUserName()"
          >Suggest a Username</button>
          <div class="form-group">
            <label for="email">Email</label>
            <input ngModel 
              name="email"
              required 
              email 
              type="text" 
              id="email" 
              class="form-control"
              #email="ngModel"
            />
            <p *ngIf="email.invalid && email.touched" class="text-danger">Please enter valid email.</p>
          </div>
          <p class="text-danger" *ngIf="userData.invalid">User Data is invalid</p>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            [(ngModel)]="message"
            name="message" 
            class="form-control"
          ></textarea>
          <p class="h4">Your Reply: {{message}}</p>
        </div>
        <div class="form-group">
          <div class="radio"
            *ngFor="let gender of genders">
            <label>
              <input type="radio" name="gender"
                ngModel [value]="gender">
              {{gender}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Question</label>
          <select ngModel name="secret" 
            [ngModel]="defaultSecret"
            id="secret" class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit"
          [disabled]="f.invalid"
        >Submit</button>
        <button class="btn btn-default clear-btn" 
          type="button"
          (click)="resetHandle()"
        >Reset/Clear</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{user.username}}</p>
      <p>Mail: {{user.email}}</p>
      <p>Secret Question: {{user.secret}}</p>
      <p>Message: {{user.message}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div>
