.col-xs-12 {
    border: 1px solid #ccc;
    margin-bottom: 12px;
    padding: 6px;
    border-radius: 8px;
}
h5 {
    background-color: #eee;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}
hr {
    margin: 5px;
}